
@media(max-width: 1299px)
{
    #navigationList{
        visibility: hidden;   
    }
    #smallScreenNav{
        visibility: hidden;
    }
}   

@media(min-width: 1300px)
{
    #navigationList{
        visibility: visible;
    }  
    
    #smallScreenNav{
        visibility: hidden;
    }
}